<!-- lostformupdate -->
<html>
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/login1.css' %}" />
  
</head>
<body>

  <table>
    <th align="left"><img src="{% static 'app/logo2.png' %}" alt="My image" style="width:40%; height:40%" ></th>
    <th ></th>
  </table>
 <hr style="height:1.5px;border-width: 0;color:black;background-color:black;">
 <div class="navbar">
<a href="{% url 'home' %}"><b>Home</b></a>

<div class="dropdown">
<button class="dropbtn"><b>Account</b>
  
</button>
<div class="dropdown-content">
  <a href="{% url 'profile' %}">Profile</a>
  <a href="{% url 'logoutRequest' %}">logout</a>

</div>
</div> 
</div>

       <center>
        <center><b> <p >Update Form</p><b></center>
        {% if key2 %}
       <form action="{% url 'update' pk=key2.id%}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      
      <table>
          <tr>
              <td>Full Name  </td>
              <td><input type="text" name="fname" id="" value="{{key2.Fullname}}"></td>
          </tr>
         
          <tr>
              <td>Email </td>
              <td><input type="email" name="email" id="" value="{{key2.Email}}"></td>
          </tr>
          <tr>
              <td>Contact </td>
              <td><input type="tel" name="contact" id="" value="{{key2.Contact}}"></td>
          </tr>
          <tr>
            <td>Date when lost: </td>
            <td><input type="date" name="date" id="" value="{{key2.Lostdate.date}}"></td>
        </tr>
        <tr>
          <td>Last seen at </td>
          <td><input type="text" name="lastseen" id="" value="{{key2.Lastseen}}"></td>
      </tr>
        <tr>
          <td>Description </td>
          <td><input type="text" name="desc" id="" value="{{key2.Description}}"></td>
      </tr>
      
          <tr>
              
              <td><input type="submit" value="Update"></td>
          </tr>

          </table>
          

  </form>
  {% endif %}
</center>

</body>
</html>