<!DOCTYPE html>
<html lang="en">
<head>
  <title>showPage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/login1.css' %}" />
</head>
<body>
  <table>
    <th align="left"><img src="{% static 'app/logo2.png' %}" alt="My image" style="width:40%; height:40%" ></th>
    <th ></th>
  </table>
 <hr style="height:1.5px;border-width: 0;color:black;background-color:black;">
 <div class="navbar">
<a href="{% url 'home' %}"><b>Home</b></a>

<div class="dropdown">
<button class="dropbtn"><b>Account</b>
  
</button>
<div class="dropdown-content">
  <a href="{% url 'profile' %}">Profile</a>
  <a href="{% url 'logoutRequest' %}">logout</a>

</div>
</div> 
</div>

  <center><h2>Reported Lost Items</h2></center>
      
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Fullname</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Date When Lost</th>
        <th>Last Seen At</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
      
      </tr>
    </thead>
    {% if key1 %}
    <tbody>
        {% for i in key1 %}
           
      <tr>
        <td>{{i.id}}</td>
        <td>{{i.Fullname}}</td>
        <td>{{i.Email}}</td>
        <td>{{i.Contact}}</td>
        <td>{{i.Lostdate}}</td>
        <td>{{i.Lastseen}}</td>
        <td>{{i.Description}}</td>
        <td>
            <form name="EditForm" action="{% url 'editpage' pk=i.id %}" method="post">
              {% csrf_token %}
              <input type="submit" value="Edit">
            </form>

        </td>
        <td>
          <form name="DeleteForm" action="{% url 'delete' pk=i.id%}" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete">
          </form>

      </td>

      </td>
      </tr>
      
      {% endfor %}
    </tbody>
    {% endif %}
  </table>
</div>

</body>
</html>
